@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f8f9fc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link {
  display: flex;
  color: black;
  padding: 10px 15px;
  gap: 20px;
  transition: all 0.5s;
  text-decoration: none;
  margin-top: 20px;
}

.link:hover {
  background: #0e77891a;
  transition: all 0.5s;
}

/* Loader Animation Rainbow Case Studies */
@keyframes loader {
  15% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(calc(250px - 20px));
  }
  65% {
    transform: translateX(calc(250px - 20px));
  }
  95% {
    transform: translateX(0);
  }
}

@keyframes loading-text {
  0% {
    content: "Up-loading";
  }
  25% {
    content: "Up-loading.";
  }
  50% {
    content: "Up-loading..";
  }
  75% {
    content: "Up-loading...";
  }
}

.animate-loader {
  animation: loader 3s ease-in-out infinite;
}

.animate-loading-text:after {
  content: "Up-loading";
  animation: loading-text 3s infinite;
}
